extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- My name
        h1 Payton Curry

        
        p Full Stack JavaScript Developer


        .about-bio

          //- Elevator pitch
          p Hi, my name is Payton Curry, and I am a Junior Software Engineer in training for SRP Environmental. Our company has extensive experinece with Industrial Hygiene (IH) Services including Mold Removal and Environmental Compliance. We specialize in Environmental Site Assesments, Water Damage Clean Up, and can also assist with ISNetworld Compliance, and offer a wide range of Safety Training, including Safeland/Rigpass.


      .skills-contact-box.box
        h6 Skills

        //- Acquired skills learned throughout my Treehouse journey
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Personal contact information
        ul
          li 318-465-8316
          li pcurry@srpenvironmental.net

        //- Added URLs to my personal social media pages
        a.btn-link(href='https://www.facebook.com/payton.curry.5') Facebook 
        a.btn-link(href='https://github.com/paytonmillee') GitHub
        a.btn-link(href='https://www.instagram.com/paytonmillee/?hl=en') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back